@model IEnumerable<(CommonMovieModel commonMovie, SpecifiedMovieModel specifiedMovie)>

@{
    ViewData["Title"] = "Личный кабинет";
}

<h1>Личный кабинет</h1>

<h2>Что я хочу посмотреть позже:</h2>
<p>
    <a onclick="showInPopup('@Url.Action("ClickingAddButton")','Добавление фильма')">Добавить фильм</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.commonMovie.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.commonMovie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.commonMovie.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.commonMovie.Categories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.specifiedMovie.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.specifiedMovie.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.commonMovie.Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commonMovie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commonMovie.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commonMovie.Categories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specifiedMovie.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specifiedMovie.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.specifiedMovie.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.specifiedMovie.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
